<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <main>
        <h1>Create Your VERY OWN Todolist!</h1>
        <p class="stack">
            <a href="/login" class="btn btn-primary" id="btn-login">Login</a>
            <a href="/signup" class="btn btn-primary" id="btn-signup">Signup</a>
        </p>
        </main>
    </div>
</body>
</html>