<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Homepage</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <main>
    <h1>Welcome agent xxx</h1>
    <p>What would you like you like to work on today?//Select a folder</p>
    <a href="/create"> Create mission</a> <!-- go to task creating page -->
    <a href="/missions"> Current Missions</a> <!-- go to look at today's objectives/task -->
    <a href="/logout" class="btn-secondary">Logout</a>
        </main>
    </div>
</body>

</html>